
- path = '../img/international-culture-cup.webp'

doctype html
html(lang='en')
  head
    meta(charset='UTF-8') 
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include modules/favicon
    title Coffee Culture International
  body
 
    include modules/header 

    main(class="main goods-content__main c-c-international")
        .wr-bread-crumbs
            include modules/bread-crumbs

        .banner.c-c-international__banner

        .wr-number-pages.wr-number-pages-top
            include modules/number-pages

        .goods-content__wrapper-main-content 
            
            article.goods-content__wr-content.goods-content__wr-content_no-aside
                ul.good-card__wr-card-list.good-card__wr-card-list_no-aside
                    li.good-card__wr-card-item.catalog-good-first-line
                        a(href="./page-vase.html" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item.catalog-good-first-line
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item.catalog-good-first-line
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item.catalog-good-first-line
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item  
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                    li.good-card__wr-card-item 
                        a(href="#0" title="").good-card__wrapper-link
                            .good-card__card-content 
                                .good-card__wr-card-img-line 
                                    .good-card__wr-card-img
                                        img(src=path  alt="").good-card__card-img
                                    .good-card__wr-card-line
                                .good-card__wr-card-title  
                                    h3.good-card__card-title Barista Cup 0.35l
                            .good-card__card-link-button

                            
        .wr-number-pages
            include modules/number-pages

    include modules/footer