- var path = '../img/cup-for-catalog.webp'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Фарфор SYNERGY
    body
 
        include modules/header 

        main(class="main goods-content__main porcelain")
            .wr-bread-crumbs
                include modules/bread-crumbs
            .banner.porcelain__banner
            
            .goods-content__wrapper-main-content

                aside.aside.goods-content__aside
                    .goods-content__wr-filter
                        .filter
                            ul.filter-list
                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        .filter__main-item-title Чашки и блюдца
                                        .filter__main-item-box
                                    ul.filter__sub-list
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Barista & Чай
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box.filter__sub-item-title-box_two-rows
                                            a(href="#0" title="").filter__sub-item-title.filter__sub-item-title_two-rows 
                                                span Штабелируемые чашки
                                                span & кружки
                                            .filter__sub-item-box.filter__sub-item-box_two-rows
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Блюдца
                                            .filter__sub-item-box

                                
                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        .filter__main-item-title Тарелки
                                        .filter__main-item-box
                                    ul.filter__sub-list
                                        li.filter__sub-item-title-box 
                                            .filter__sub-item-title Тарелки мелкие
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box.filter__sub-item-title-box_two-rows
                                            a(href="#0" title="").filter__sub-item-title Тарелки мелкие чашеобразные
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box.filter__sub-item-title-box_two-rows
                                            a(href="#0" title="").filter__sub-item-title Тарелки глубокие
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box.filter__sub-item-title-box_two-rows
                                            a(href="#0" title="").filter__sub-item-title Тарелки глубокие чашеобразные
                                            .filter__sub-item-box

                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        a(href="#0" title="").filter__main-item-title Овальные блюда

                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        a(href="#0" title="").filter__main-item-title Чаши

                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        a(href="#0" title="").filter__main-item-title Фирменные изделия

                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        a(href="./decor.html").filter__main-item-title Декор

                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        a(href="./individual-decor.html").filter__main-item-title Индивидуальный дизайн

                            .filter__wr-reset-button
                                button.filter__reset-button Сбросить фильтры

                .wr-number-pages.wr-number-pages-top
                    include modules/number-pages

                article.goods-content__wr-content 
                    ul.good-card__wr-card-list  
                        li.good-card__wr-card-item
                            a(href="./page-vase.html" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                            
                .wr-number-pages
                    include modules/number-pages

        include modules/footer