- var path = '../img/board-for-catalog-line-lifestyle.webp'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Линейка продуктов Lifestyle
    body
 
        include modules/header

        main(class="main goods-content__main lifestyle")
            .wr-bread-crumbs
                include modules/bread-crumbs
            .banner.line-lifestyle__banner

            
            .goods-content__wrapper-main-content

                aside.aside.goods-content__aside
                    .goods-content__wr-filter
                        .filter
                            ul.filter-list
                                li.filter__main-item
                                    .filter__main-item-title-box 
                                        .filter__main-item-title Линейка Lifestyle
                                        .filter__main-item-box
                                    ul.filter__sub-list
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Керамика
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box.filter__sub-item-title-box_two-rows
                                            a(href="#0" title="").filter__sub-item-title Стекло
                                            .filter__sub-item-box.filter__sub-item-box_two-rows
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Мрамор
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Дерево
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Чугун
                                            .filter__sub-item-box
                                        li.filter__sub-item-title-box 
                                            a(href="#0" title="").filter__sub-item-title Ткань
                                            .filter__sub-item-box
                            .filter__wr-reset-button
                                button.filter__reset-button Сбросить фильтры
                                
                .wr-number-pages.wr-number-pages-top
                    include modules/number-pages

                article.goods-content__wr-content  
                    ul.good-card__wr-card-list 
                        li.good-card__wr-card-item
                            a(href="./page-vase.html" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title 
                                        h3.good-card__card-title Board marble/wood square 25,4x25,4x1,5 cm
                                .good-card__card-link-button
                        

                            
                .wr-number-pages
                    include modules/number-pages

        include modules/footer