- var t = 'CultureCup';
- var path = '../img/international-culture-cup.webp';

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Результат поиска
    body
 
        include modules/header 

        main(class="main goods-content__main result-search")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .line-right.line-right__result-search
            
            .goods-content__wrapper-main-content.goods-content__wrapper-main-content-result-search

                header.result-search__header
                    h2.result-search__title Результат поиска
                    p.result-search__text-request по запросу кофейные чашки


                .wr-number-pages.wr-number-pages-top.wr-number-pages__result-search
                    include modules/number-pages
                 
                article.goods-content__wr-content.goods-content__wr-content_no-aside
                    ul.good-card__wr-card-list.good-card__wr-card-list_no-aside
                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside
                            a(href="./page-vase.html" title="").good-card__wrapper-link 
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.good-card__wr-card-item_no-aside 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button


                                
                .wr-number-pages
                    include modules/number-pages

            

        include modules/footer