- var path = '../img/spoon.png'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Все сервировочные приборы
    body
 
        include modules/header 

        main(class="main goods-content__main sd-all-serving-devices")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.sd-all-serving-devices__banner

            .wr-number-pages.wr-number-pages-top
                include modules/number-pages

            .goods-content__wrapper-main-content
                aside.aside.goods-content__aside
                    .goods-content__wr-filter
                        ul.filter
                            li.filter__main-item-static
                                .filter__main-item-static-title Категория
                                ul.filter__static-sub-list
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Лопатки для торта
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Ложки для комплиментов
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Щипцы
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Сеты для стейка
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Сеты для морепродуктов
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Сервировочные ножи
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Сервировочные ложки
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Сервировочные вилки
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Половники
                                        .filter__sub-item-box

                            li.filter__main-item
                                .filter__main-item-title-box 
                                    .filter__main-item-title Коллекция
                                    .filter__main-item-box
                                ul.filter__sub-list
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Asia
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Casino
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Neutral
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Nuova
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Signum
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Sitello
                                        .filter__sub-item-box

                article.goods-content__wr-content
                    ul.good-card__wr-card-list  
                        li.good-card__wr-card-item.catalog-good-first-line
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.catalog-good-first-line
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.catalog-good-first-line
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path).good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

            .wr-number-pages
                include modules/number-pages

        include modules/footer