- var path = '../img/quadro-bread-module.webp'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title WMF Quadro модули
    body
 
        include modules/header 

        main(class="main goods-content__main quadro-module")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.quadro-module__banner


            .goods-content__wrapper-main-content
                
                article.goods-content__wr-content.goods-content__wr-content_no-aside
                    ul.good-card__wr-card-list.good-card__wr-card-list_no-aside
                        li.good-card__wr-card-item
                            a(href="./page-vase.html" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img 
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0" title="").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Bread – module 02
                                .good-card__card-link-button



        include modules/footer