- var path = '../img/quadro-tray.png'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Все позиции
    body
 
        include modules/header 

        main(class="main goods-content__main tt-quadro-all-position")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.tt-quadro-all-position__banner

            .wr-number-pages.wr-number-pages-top
                include modules/number-pages

            .goods-content__wrapper-main-content
                aside.aside.goods-content__aside
                    .goods-content__wr-filter
                        ul.filter
                            li.filter__main-item-static
                                .filter__main-item-static-title Категория
                                ul.filter__static-sub-list
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Quadro модули
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box 
                                        a(href="#0").filter__sub-item-title Quadro сеты
                                        .filter__sub-item-box
                                    li.filter__sub-item-title-box
                                        a(href="#0").filter__sub-item-title Все позиции
                                        .filter__sub-item-box

                article.goods-content__wr-content
                    ul.good-card__wr-card-list  
                        li.good-card__wr-card-item.catalog-good-first-line
                            a(href="./page-vase-html").good-card__wrapper-link 
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.catalog-good-first-line
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item.catalog-good-first-line
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                        li.good-card__wr-card-item 
                            a(href="#0").good-card__wrapper-link
                                .good-card__card-content 
                                    .good-card__wr-card-img-line 
                                        .good-card__wr-card-img
                                            img(src=path  alt="").good-card__card-img
                                        .good-card__wr-card-line
                                    .good-card__wr-card-title  
                                        h3.good-card__card-title Barista Cup 0.35l
                                .good-card__card-link-button

                                
            .wr-number-pages
                include modules/number-pages

        include modules/footer